.gradle
build/**
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/

### Mac OS ###
.DS_Store

### BOXLANG ###
/libs/
src/test/resources/logo-add*
src/test/resources/logo-crop*
src/test/resources/logo-paste*
src/test/resources/logo-negative*
src/test/resources/new-image*
src/test/resources/libs/*
!src/test/resources/libs/.gitkeep
grapher/*
